.container{
    background-color:lavender;
    width: 400px;
    height: 500px;
    padding:10px 20px
    
}
pre{
    color:brown;
    padding: 10px 150px 
   
}
.container img{
    display: block;
    margin-left:auto ;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
.container p{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}
.container{
    border-color: pink;
    border-style: groove;
    border-width: 5px;
}

